*{margin:0; padding: 0;}

.navbar{
	vertical-align:middle;
	margin-top:10px;
	width:100%;
	position: relative;
}

#dp{
	height: 30px;
	width: 30px;
	border-radius: 20px;
	top:5px;
}
.navbar li{
	float: right;
	display:inline;
	right:28px;
	position: absolute;
}


.navbar li ul{
	display: inline;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #757575;
	margin:4px 5px 20px 5px;
}

#text{
	position: relative;
	top:-7px;
}
#img1{
	position: relative;
	opacity: .4;
	top:4px;
}
#img2{
	position: relative;
	top:2px;
	opacity: .7;
}
.google{
	margin:0 auto;
	top:165px;
	width:50%;
	position: relative;

}
.google img{
	height:152px;
	width:274px;
    display: block;
	margin:0 auto;
	margin-bottom: -15px;
}

#bar{
	border:1px solid #DEDEDE;
	display: block;
	margin:0 auto;
	width:570px;
	height:38px;
}
#mic{
	position: relative;
	height: 24px;
	width: 14px;
	top:17px;
	left:270px;
}

.buttons{
	margin:0 auto;
	position: relative;
	top: 150px;
	width:285px;
}

input[type=submit] 
{	
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: #757575;
	border:0;
	height:36px;
	margin: 24px 4px;
	padding: 0 16px;
	background-color:#f2f2f2;
	position: relative;
}

footer{
	background-color: #787878;
	border-top: 1px solid #e4e4e4;
	line-height: 43px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 44px;	
}

footer .left{
	display:inline;
	position: absolute;
	float: left;
	left:15px;
}

footer .right {
	margin-left: 20px;
	display:inline;
	position: absolute;
	float: right;
	right: 20px;
}
footer li ul{
	display: inline;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #757575;
	margin:0 15px 0 14px;
}
a{
	text-decoration: none;
	color: #757575;
}

a:hover{
	text-decoration: underline;
}

input[type=submit]:hover{

	color: #373737;

}
#img1:hover,#img2:hover{
	opacity: 1;
}
